# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* R
* SQL
* Julia
* java
* C++

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. scala
5. Julia
6. Java
7. C++
8. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplotlib
4. Seaborn


| Data  Science Tools |
| ----------------------------- |
| MySQL | Apache Airflow |
| Apache Airflow |  
| PowerBI |

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60
m = 200
h = m / 60 
print(h)

3.3333333333333335

## Author
ABDOULRAHMAN ALI GUIRREH